html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* Variables */
:root {
  --nav: rgba(249, 178, 61, 1);
  --bg: rgba(156, 131, 95, 1);
  --btn-hover: rgba(196, 196, 196, 1);
  --skin: rgb(249, 211, 186);
  --black: rgba(51, 44, 43, 1);
}
